{{ if .Values.dhcp.enabled }}
---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: {{ include "bjw-s.common.lib.chart.names.fullname" . }}-dhcp-config

  labels:
    {{- include "bjw-s.common.lib.metadata.allLabels" . | nindent 4 }}

  annotations:
    argocd.argoproj.io/sync-wave: '10'

spec:
  secretStoreRef:
    name: mainvault-core
    kind: ClusterSecretStore

  target:
    name: '{{ include "bjw-s.common.lib.chart.names.fullname" . }}-dhcp-config'
    template:
      engineVersion: v2
      data:
        
        keactrl.conf: | # shell
          # This is a configuration file for keactrl script which controls
          # the startup, shutdown, reconfiguration and gathering the status
          # of the Kea processes.

          # prefix holds the location where the Kea is installed.
          prefix=@prefix@

          # Location of Kea configuration file.
          kea_dhcp4_config_file=/etc/DHCP/DHCP4.jsonc
          kea_dhcp6_config_file=/etc/DHCP/DHCP6.jsonc
          kea_dhcp_ddns_config_file=/etc/DHCP/DDNS.jsonc
          kea_ctrl_agent_config_file=/etc/DHCP/KeaCA.jsonc
          kea_netconf_config_file=/etc/DHCP/NetConf.jsonc

          # Location of Kea binaries.
          exec_prefix=@exec_prefix@
          dhcp4_srv=/usr/sbin/kea-dhcp4
          dhcp6_srv=/usr/sbin/kea-dhcp6
          dhcp_ddns_srv=/usr/sbin/kea-dhcp-ddns
          ctrl_agent_srv=/usr/sbin/kea-ctrl-agent
          netconf_srv=/usr/sbin/kea-netconf

          # Start DHCPv4 server?
          dhcp4=yes

          # Start DHCPv6 server?
          dhcp6=no

          # Start DHCP DDNS server?
          dhcp_ddns=yes

          # Start Control Agent?
          ctrl_agent=yes

          # Start Netconf?
          netconf=yes

          # Be verbose?
          kea_verbose=no

      templateFrom:
        - configMap:
            # name of the configmap to pull in
            name: '{{ include "bjw-s.common.lib.chart.names.fullname" . }}-dhcp-tpl'
            # here you define the keys that should be used as template
            items:
              - key: KeaCA.jsonc
              - key: NetConf.jsonc
              - key: DDNS.jsonc
              - key: DHCP6.jsonc
              - key: DHCP4.jsonc

  data:
    #
    # Database
    #
    - secretKey: Hostname
      remoteRef:
        key: DHCP/Database
        property: Hostname

    - secretKey: Port
      remoteRef:
        key: DHCP/Database
        property: Port

    - secretKey: Database
      remoteRef:
        key: DHCP/Database
        property: Database

    - secretKey: Username
      remoteRef:
        key: DHCP/User
        property: Username

    - secretKey: Password
      remoteRef:
        key: DHCP/User
        property: Password
{{- end }}