
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

patches:
  - target:
      kind: DaemonSet
      name: node-agent

    patch: |
      - op: replace
        path: /metadata/namespace
        value: kube-system
