testMQTT.sh
testMongoDB.sh
testAuthentik.sh
Chart.lock
**/charts
**/charts/**

# Bins

Meta/bin/mqttx
Meta/bin/mc
Meta/bin/egctl
Meta/bin/talosctl
Meta/bin/argocd
Meta/bin/longhornctl

Meta/Configs
**tmp**
TMP