env: prod

global:
  # -- Propagate global metadata to Pod labels.
  propagateGlobalMetadataToPods: true
  # -- Set additional global labels. Helm templates can be used.
  labels:
    resolvemy.host/env: '{{ .Values.env }}'

defaultPodOptions:
  # -- Set annotations on the Pod. Pod-specific values will be merged with this.
  annotations:
    backup.velero.io/backup-volumes: 'data'

controllers:
  unifi:
    # For Deployments, valid values are Recreate (default) and RollingUpdate.
    # For StatefulSets, valid values are OnDelete and RollingUpdate (default).
    # DaemonSets/CronJobs ignore this.
    strategy: RollingUpdate

    defaultContainerOptions:
      securityContext:
        runAsUser: 999
        runAsGroup: 999

    containers:
      unifi:
        image:
          repository: ghcr.io/goofball222/unifi
          tag: latest-alpine
          pullPolicy: Always

        env:
          - name: DB_MONGO_LOCAL
            value: 'false'

          - name: UNIFI_DB_NAME
            value: 'unifi'

          - name: DB_MONGO_URI
            valueFrom:
              secretKeyRef:
                name: '{{ include "bjw-s.common.lib.chart.names.fullname" $ }}'
                key: DB_MONGO_URI

          - name: STATDB_MONGO_URI
            valueFrom:
              secretKeyRef:
                name: '{{ include "bjw-s.common.lib.chart.names.fullname" $ }}'
                key: STATDB_MONGO_URI

service:
  unifi-lb:
    enabled: true

    controller: unifi

    type: ClusterIP

    # -- Specify the ip policy. Options: SingleStack, PreferDualStack, RequireDualStack
    ipFamilyPolicy:
    # -- The ip families that should be used. Options: IPv4, IPv6
    ipFamilies: []

    # # -- Provide additional annotations which may be required.
    annotations:
      external-dns.alpha.kubernetes.io/hostname: 'unifi.int.mylogin.space'

    # -- Provide additional labels which may be required.
    labels:
      wan-mode: public
      lan-mode: private

    ports:
      inform:
        enabled: true

        primary: false

        port: 8080


      speedtest:
        enabled: true

        primary: false

        port: 6789

      syslog:
        enabled: true

        primary: false

        port: 5514

        protocol: UDP

      httpportalredir:
        enabled: true

        primary: false

        port: 8880

        protocol: HTTP

      httppsortalredir:
        enabled: true

        primary: false

        port: 8843

        protocol: HTTPS

  unifi:
    # -- Enables or disables the service
    enabled: true

    # -- Configure which controller this service should target
    controller: unifi

    # -- Make this the primary service for this controller (used in probes, notes, etc...).
    # If there is more than 1 service targeting the controller, make sure that only 1 service is
    # marked as primary.
    primary: true

    # -- Set the service type
    type: ClusterIP

    ports:
      https:
        # -- Enables or disables the port
        enabled: true

        primary: true
      
        # -- The port number
        port: 8443

        # -- Port protocol.
        # Support values are `HTTP`, `HTTPS`, `TCP` and `UDP`.
        # HTTP and HTTPS spawn a TCP service and get used for internal URL and name generation
        protocol: HTTPS

route:
  unifi-web:
    # -- Enables or disables the route
    enabled: true

    # -- Set the route kind
    # Valid options are GRPCRoute, HTTPRoute, TCPRoute, TLSRoute, UDPRoute
    kind: TLSRoute

    # -- Provide additional labels which may be required.
    labels:
      wan-mode: 'public'
      lan-mode: 'private'

    hostnames:
      - unifi.mylogin.space

    # -- Configure the resource the route attaches to.
    parentRefs:
      - # Group of the referent resource.
        group: gateway.networking.k8s.io

        # Kind of the referent resource.
        kind: Gateway

        # Name of the referent resource
        name: main-gw

        sectionName: tls-mqtt

        # Namespace of the referent resource
        namespace: core-prod

    # -- Configure rules for routing. Defaults to the primary service.
    rules:
      - backendRefs:
          - kind: Service
            port: 8443
            name: unifi
            weight: 1

persistence:
  data:
    enabled: true
    type: persistentVolumeClaim
    mountPath: 
    accessMode: ReadWriteOnce
    size: 2G
    globalMounts:
      - path: /usr/lib/unifi/data
        readOnly: false

  tls:
    enabled: true
    type: secret
    name: myloginspace-default-certificates
    globalMounts:
      - path: /usr/lib/unifi/cert/cert.pem
        subPath: tls.crt
        readOnly: false

      - path: /usr/lib/unifi/cert/privkey.pem
        subPath: tls.key
        readOnly: false