apiVersion: apps/v1
kind: Deployment
metadata:
  name: coredns

  labels:
    k0s.k0sproject.io/stack: coredns
    k8s-app: kube-dns
    kubernetes.io/name: CoreDNS
spec:
  progressDeadlineSeconds: 600
  
  replicas: 5
  
  revisionHistoryLimit: 10
  
  selector:
    matchLabels:
      k8s-app: kube-dns
  
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 1
    type: RollingUpdate
  
  template:
    metadata:
      labels:
        k8s-app: kube-dns

    spec:
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: ScheduleAnyway
          labelSelector:
            matchLabels:
              k8s-app: kube-dns
    
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - podAffinityTerm:
                labelSelector:
                  matchExpressions:
                    - key: k8s-app
                      operator: In
                      values:
                        - kube-dns
                topologyKey: kubernetes.io/hostname
              weight: 100
      containers:
        - args:
            - -conf
            - /etc/coredns/Corefile
          image: kristianfjones/coredns-docker:core0
          imagePullPolicy: Always

          livenessProbe:
            failureThreshold: 3
            httpGet:
              path: /health
              port: 8080
              scheme: HTTP
            initialDelaySeconds: 60
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 1
          name: coredns

          ports:
            - containerPort: 53
              name: dns
              protocol: UDP

            - containerPort: 53
              name: dns-tcp
              protocol: TCP

            - containerPort: 9153
              name: metrics
              protocol: TCP
          readinessProbe:
            failureThreshold: 3
            httpGet:
              path: /ready
              port: 8181
              scheme: HTTP
            periodSeconds: 2
            successThreshold: 1
            timeoutSeconds: 1
          resources:
            requests:
              cpu: 8m
              memory: 32Mi

          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              add:
                - NET_BIND_SERVICE
              drop:
                - all
            readOnlyRootFilesystem: true
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
            - mountPath: /etc/coredns
              name: config-volume
              readOnly: true

            - mountPath: /secrets/k0s
              name: k0s-volume
              readOnly: true

            - mountPath: /secrets/infra1
              name: infra1-volume
              readOnly: true
      dnsPolicy: None
      dnsConfig:
        nameservers:
          - 1.1.1.1
          - 8.8.8.8
          - 8.8.4.4
      nodeSelector:
        beta.kubernetes.io/os: linux
      restartPolicy: Always
      schedulerName: default-scheduler
      priorityClassName: system-cluster-critical
      #priority: 256
      securityContext: {}
      serviceAccount: coredns
      serviceAccountName: coredns
      terminationGracePeriodSeconds: 30

      tolerations:
        - key: CriticalAddonsOnly
          operator: Exists
        - effect: NoSchedule
          key: node-role.kubernetes.io/master
          operator: Exists

      volumes:
        - name: config-volume
          configMap:
            defaultMode: 420
            items:
              - key: Corefile
                path: Corefile
            name: coredns
          

        - name: k0s-volume
          secret:
            secretName: k0s-kubeconfig
          

        - name: infra1-volume
          secret:
            secretName: infra1-kubeconfig
          
