apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

patches:
  - target:
      kind: Deployment
      name: securecodebox-controller-manager

    patch: |
      - op: replace
        path: /spec/template/spec/containers/0/args/0
        value: '--leader-elect=false'

      - op: add
        path: /spec/template/spec/containers/0/env/0
        value:
          name: AWS_SESSION_TOKEN
          valueFrom:
            secretKeyRef:
              key: SessionToken
              name: core-security-scanner-s3-creds

      - op: add
        path: /spec/template/spec/containers/0/env/0
        value:
          name: AWS_ACCESS_KEY_ID
          valueFrom:
            secretKeyRef:
              key: AccessKey
              name: core-security-scanner-s3-creds

      - op: add
        path: /spec/template/spec/containers/0/env/0
        value:
          name: AWS_SECRET_ACCESS_KEY
          valueFrom:
            secretKeyRef:
              key: SecretAccessKey
              name: core-security-scanner-s3-creds