opensearch-operator:
  nameOverride: ''
  fullnameOverride: ''

  nodeSelector: {}
  tolerations: []
  securityContext:
    runAsNonRoot: true

  manager:
    securityContext:
      allowPrivilegeEscalation: false
    extraEnv: []
    resources:
      limits:
        cpu: 200m
        memory: 500Mi
      requests:
        cpu: 100m
        memory: 350Mi

    # Set this to false to disable the experimental parallel recovery in case you are experiencing problems
    parallelRecoveryEnabled: true

    image:
      repository: opensearchproject/opensearch-operator

    dnsBase: cluster.local

    # Log level of the operator. Possible values: debug, info, warn, error
    loglevel: info

    # If a watchNamespace is specified, the manager's cache will be restricted to
    # watch objects in the desired namespace. Defaults is to watch all namespaces.
    watchNamespace:

  # Install the Custom Resource Definitions with Helm
  installCRDs: true

  kubeRbacProxy:
    enable: true
    securityContext:
      # allowPrivilegeEscalation: false
    resources:
      limits:
        cpu: 50m
        memory: 50Mi
      requests:
        cpu: 25m
        memory: 25Mi

    image:
      repository: gcr.io/kubebuilder/kube-rbac-proxy
