apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: core-backplane-business-automation
  namespace: argocd

  annotations:
    argocd.argoproj.io/sync-wave: '50'

spec:
  goTemplate: true

  generators:
    - clusters:
        selector:
          matchLabels:
            mylogin.space/tenant: 'core.mylogin.space'
            resolvemy.host/computetype: 'baremetal'
            resolvemy.host/nodetype: 'infra'
            topology.kubernetes.io/region: 'yvr'
        values:
          clusterName: '{{ .name }}'
          environment: 'prod'


  syncPolicy:
    preserveResourcesOnDeletion: true
  
  template:
    metadata:
      name: '{{ .values.clusterName }}-business-automation-{{ .values.environment }}'
    
      annotations:
        argocd.argoproj.io/manifest-generate-paths: .

      labels:
        resolvemy.host/env: '{{ .values.environment }}'
        

    spec:
      project: core
      syncPolicy:
        syncOptions:
          - ServerSideApply=true

      source:
        path: Automation
        repoURL: https://github.com/K-FOSS/CoRE-Business.git
        targetRevision: HEAD

        plugin:
          name: argocd-lovely-plugin
          env:
            - name: LOVELY_HELM_MERGE
              value: |-
                env: {{ .values.environment }}

      destination:
        server: '{{ .server }}'
        namespace: core-{{ .values.environment }}
