idle:
  # Default values for s3-proxy.
  # This is a YAML-formatted file.
  # Declare variables to be passed into your templates.

  replicaCount: 3

  image:
    repository: oxynozeta/s3-proxy
    pullPolicy: IfNotPresent

  imagePullSecrets: []
  nameOverride: ''


  service:
    type: ClusterIP
    port: 80
    targetPort: "http"

  ingress:
    enabled: false

  # Custom templates declaration
  # Will be mounted in /proxy/custom-templates
  customTemplates: {}
  #   # Bad Request template example
  #   bad-request.tpl: |-
  #     <!DOCTYPE html>
  #     <html>
  #       <body>
  #         <h1>Bad Request</h1>
  #         <p>{{ .Error }}</p>
  #       </body>
  #     </html>
  #   # Add other template files here

  # Existing secret
  # Will be mounted in /proxy/secret-files
  existingSecret: cdn-idle

  # Secret files for secrets declaration
  # Each key will be mounted in /proxy/secret-files
  secretFiles:
    {}
    # Example
    # my-syper-secret-file: my-awesome-secret

  # Environment variables
  env:
    {}
    # Example
    # VARIABLE: VALUE

  envFrom:
    []
    # Example (see https://kubernetes.io/docs/reference/kubernetes-api/workload-resources/pod-v1/#environment-variables)
    # - secretRef:
    #     name: mysecret
    # - configMapRef:
    #     name: myconfigmap

  #
  # See configuration of project: https://oxyno-zeta.github.io/s3-proxy/
  #
  # Note: This can put as blank. The application can start without any configuration.
  configFiles:
    config.yaml:
      # Log configuration
      log:
        # Log level
        level: info
        # Log format
        format: json

      authproviders:
        basic:
          idle:
            realm: idle.snd.fyi

      server:
        cache:
          noCacheEnabled: false
          cacheControl: public, max-age=3600
          expires: '3600'

        timeouts:
          readTimeout: 15s
          idleTimeout: 30s

      # Targets map
      targets:
        first-bucket:
          ## Mount point
          mount:
            path:
              - /
          actions:
            GET:
              enabled: true
              config:
                indexDocument: index.html
          resources:
            - path: /*
              # HTTP Methods authorized (Must be in HEAD, GET, PUT or DELETE)
              methods:
                - GET
              # A authentication provider declared in section before, here is the key name
              provider: idle
              # Basic authentication section
              basic:
                credentials:
                  - user: <path:CORE0_SITE1/data/Storage/CDN/MeowMeow#Username>
                    password:
                      value: <path:CORE0_SITE1/data/Storage/CDN/MeowMeow#Password>
          bucket:
            name: <path:CORE0_SITE1/data/Storage/CDN/S3#Bucket>
            region: us-east-1
            s3Endpoint: https://s3.core-home1-talos-prod.home1.yvr.mylogin.space
            disableSSL: false
            # s3ListMaxKeys: 1000
            credentials:
              accessKey:
                path: /proxy/secret-files/AccessKey
              secretKey:
                path: /proxy/secret-files/SecretKey

  # Sidecars
  # The full container definition is available here.
  sidecars: []

  resources:
    {}
    # We usually recommend not to specify default resources and to leave this as a conscious
    # choice for the user. This also increases chances charts run on environments with little
    # resources, such as Minikube. If you do want to specify resources, uncomment the following
    # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
    # limits:
    #   cpu: 100m
    #   memory: 128Mi
    # requests:
    #   cpu: 100m
    #   memory: 128Mi

  nodeSelector: {}

  tolerations: []

  affinity: {}

  # livenessProbe:
  #   initialDelaySeconds: 0
  #   periodSeconds: 10
  #   timeoutSeconds: 1
  #   successThreshold: 1
  #   failureThreshold: 3

  # readinessProbe:
  #   initialDelaySeconds: 0
  #   periodSeconds: 10
  #   timeoutSeconds: 1
  #   successThreshold: 1
  #   failureThreshold: 3

  ## ServiceMonitor configuration in case you are using Prometheus Operator
  prometheus:
    serviceMonitor:
      ## If true a ServiceMonitor for each enabled exporter will be installed
      enabled: false
      ## The namespace where the ServiceMonitor(s) will be installed
      # namespace: monitoring
      ## The selector the Prometheus instance is searching for
      ## [Default Prometheus Operator selector] (https://github.com/helm/charts/blob/f5a751f174263971fafd21eee4e35416d6612a3d/stable/prometheus-operator/templates/prometheus/prometheus.yaml#L74)
      labels: {}
      scheme: http
      # interval: 30s
      # scrapeTimeout: 30s
      # metricRelabelings: []
      # relabelings: []

  # Arbitrary non-identifying metadata for s3-proxy pods.
  podAnnotations:
    {}
    # prometheus.io/scrape: "true"
    # prometheus.io/path: "/metrics"
    # prometheus.io/port: "9090"

  # Extra pod labels.
  podLabels: {}

  grafana:
    # Use this only if you are using the Grafana operator from https://github.com/integr8ly/grafana-operator
    operator:
      enabled: false
      ## The namespace where the GrafanaDashboard will be installed
      # namespace: monitoring
      # Extra labels for selector
      labels: {}
    # Use this only if you are using the Grafana sidecar from kiwigrid/k8s-sidecar
    configmap:
      enabled: false
      ## The namespace where the ConfigMap will be installed
      # namespace: monitoring
      # Extra labels for selector
      labels: {}

  podDisruptionBudget:
    # https://kubernetes.io/docs/tasks/run-application/configure-pdb/
    enabled: true
    minAvailable: 1
    maxUnavailable:

  deploymentStrategy:
    {}
    # type: RollingUpdate
    # rollingUpdate:
    #   maxSurge: 1
    #   maxUnavailable: 0

  podSecurityContext:
    fsGroup: 1000

  # This is the declaration of the default volumes mount paths
  # in the s3-proxy container in pod.
  # This can be override for sidecar usage for example, init containers, ...
  # Use this with extra volumes feature.
  # Note: This doesn't change the fact that the application will use the /proxy/conf
  # directory to find the configurations.
  volumeMountPaths:
    configurations: /proxy/conf
    secrets: /proxy/secret-files
    customTemplates: /proxy/custom-templates

  # This can be used to declare extra volumes.
  extraVolumes:
    []
    # - name: test
    #   emptyDir: {}

  # This is for extra mounts in the s3-proxy containers only.
  # Sidecars or init containers have their own declarations.
  extraVolumesMounts:
    []
    # - name: test
    #   mountPath: "/test"

  # Init containers declarations.
  initContainers: []

  # Scheduler name
  schedulerName: ""

  # Priority class name.
  priorityClassName: ""
