env: prod

installing: false

installers:
  - name: windows-11
    url: http://10.1.1.84/Win11_25H2_English_x64.iso
    size: 30Gi

networks:
  - name: spine0
    nics:
      - br0
      - br1

  - name: wan-home
    vlan: 150
    nics:
      - br0
      - br1
      - br3

vms:
  - name: windows-lab
    installing: false

    installer: windows-11
    uefi: true

    boot:
      mode: uefi
      secureBoot: true

    tpm:
      enabled: true

    nodeSelector:
      kubernetes.io/hostname: 'hpc3'

    disk:
      enabled: true

      size: 128Gi

    networks:
      - name: wan-home
        nics:
          - br0

  - name: wan-rt1
    installing: false
    disk:
      enabled: true

      size: 5Gi

    networks:
      - name: wan-home
        nics:
          - br0
          - br1

  - name: wan-rt2
    installing: false

    podNetwork:
      enabled: true

    ports:
      - name: wg-2011
        port: 64763
        protocol: UDP
        expose: true
    
    disk:
      enabled: true

      size: 5Gi

    networks:
      - name: wan-home
        nics:
          - br0

      - name: spine0
        nics:
          - br0