apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: core-backplane-ingress
  namespace: argocd

  annotations:
    argocd.argoproj.io/sync-wave: '1'
spec:
  goTemplate: true

  goTemplateOptions:
    - 'missingkey=error'

  generators:
    - merge:
        mergeKeys:
          - name

        generators:
          - list:
              elements:
                - name: core-dc1-talos-prod
                  values:
                    hub: false
                    gateway:
                      address:
                        ipv4: 66.165.222.101
                        serviceGroup: core-public
                        sharedIP:
                          enabled: true

                          key: main-gw.resolvemy.host
                      
                - name: core-home1-talos-prod
                  values:
                    hub: false
                    gateway:
                      dns:
                        target: l8520277.eero.online
                      address:
                        ipv4: 10.1.1.84
                        serviceGroup: core-public
                        sharedIP:
                          enabled: true

                          key: main-gw.resolvemy.host

          - clusters:
              selector:
                matchLabels:
                  mylogin.space/tenant: 'core.mylogin.space'
                  resolvemy.host/env: 'prod'
              values:
                clusterName: '{{ .name }}'
                clusterDomain: '{{ index .metadata.labels "cluster.kubernetes.io/domain" }}'
                environment: '{{ index .metadata.labels "resolvemy.host/env" }}'
                tenant: '{{ index .metadata.labels "mylogin.space/tenant" }}'


  syncPolicy:
    preserveResourcesOnDeletion: true

  template:
    metadata:
      name: '{{ .values.clusterName }}-ingress'

      annotations:
        argocd.argoproj.io/manifest-generate-paths: .

    spec:
      project: core
      syncPolicy:
        syncOptions:
          - ServerSideApply=true

      source:
        path: Network/Ingress
        repoURL: https://github.com/K-FOSS/CoRE-Backplane.git
        targetRevision: HEAD
        plugin:
          name: argocd-lovely-plugin
          env:
            - name: LOVELY_HELM_MERGE
              value: |- # yaml
                env: {{ .values.environment }}

                tenant: {{ .values.tenant }}

                cluster:
                  name: {{ .values.clusterName }}
                  domain: {{ .values.clusterDomain }}

                gateway:
                  service:
                    annotations:
                      purelb.io/addresses: '{{ .values.gateway.address.ipv4 }}'
                      purelb.io/allow-local: 'true'
                      {{ if .values.gateway.address.sharedIP.enabled }}
                      purelb.io/allow-shared-ip: '{{ .values.gateway.address.sharedIP.key }}' 
                      {{ end }}
                      purelb.io/service-group: '{{ .values.gateway.address.serviceGroup }}'

                gatewayClass:
                  controllerName: envoy.{{ .values.tenant }}/base

      destination:
        server: '{{ .server }}'
        namespace: core-{{ .values.environment }}