apiVersion: tf.upbound.io/v1beta1
kind: ProviderConfig
metadata:
  name: authentik

  annotations:
    argocd.argoproj.io/sync-wave: '30'

spec:
  credentials:
    - filename: authentik-credentials
      source: Secret
      secretRef:
        namespace: {{ .Release.Namespace }}
        name: authentik-credentials
        key: Token
  configuration: | # hcl
    provider "authentik" {
      url      = "https://idp.mylogin.space"
      token    = file("${path.module}/authentik-credentials")
      insecure = true
    }

    // Modules _must_ use remote state. The provider does not persist state.
    terraform {
      backend "kubernetes" {
        secret_suffix     = "providerconfig-authentik"
        namespace         = "{{ .Release.Namespace }}"
        in_cluster_config = true
      }

      required_providers {
        authentik = {
          source  = "goauthentik/authentik"
          version = "2025.10.1"
        }
      }
    }