apiVersion: apps/v1
kind: Deployment
metadata:
  name: pgpool

  labels:
    app.kubernetes.io/name: pgpool

spec:
  replicas: 3

  revisionHistoryLimit: 3

  minReadySeconds: 60

  selector:
    matchLabels:
      app.kubernetes.io/name: pgpool

  template:
    metadata:
      labels:
        app.kubernetes.io/name: pgpool
        logs: loki-myloginspace

    spec:
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: ScheduleAnyway
          labelSelector:
            matchLabels:
              app.kubernetes.io/name: pgpool   


      volumes:
        - name: config-vol
          secret:
            secretName: 'pgpool-config'
            defaultMode: 420
            items:
              - key: pgpool.conf
                path: pgpool.conf
                mode: 420

              - key: pool_hba.conf
                path: pool_hba.conf
                mode: 420

              - key: pool_passwd
                path: pool_passwd

              - key: pcppass
                path: pcppass
                mode: 384

        - name: tls
          secret:
            defaultMode: 416
            secretName: myloginspace-default-certificates

      securityContext:
        runAsUser: 70
        runAsGroup: 70
        fsGroup: 70

      # dnsPolicy: None
      # dnsConfig:
      #   nameservers:
      #     - 10.44.0.10
      #     - 1.1.1.1
      #   options:
      #     - name: edns0
      #     - name: ndots
      #       value: '0'



      containers:
        - name: pgpool
          image: kristianfjones/pgpool:latest

          resources:
            requests:
              cpu: 72m
              memory: 383M
            limits:
              cpu: 4019m
              memory: 4G

          ports:
            - name: psql
              containerPort: 5432

          env:
            - name: PGPOOL_CONF_VOLUME
              value: /config

            - name: PGPOOL_INSTALL_DIR
              value: /opt/pgpool-II

            - name: PCPPASSFILE
              value: /config/pcppass

            - name: CHECK_PGCONNECT_TIMEOUT
              value: '2'

            - name: POSTGRES_USERNAME
              valueFrom:
                secretKeyRef:
                  key: username
                  name: opsadmin.psql-main.credentials.postgresql.acid.zalan.do

            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  key: password
                  name: opsadmin.psql-main.credentials.postgresql.acid.zalan.do

            - name: CHECK_USER
              valueFrom:
                secretKeyRef:
                  key: username
                  name: opsadmin.psql-main.credentials.postgresql.acid.zalan.do

            - name: CHECK_PASSWORD
              valueFrom:
                secretKeyRef:
                  key: password
                  name: opsadmin.psql-main.credentials.postgresql.acid.zalan.do

          lifecycle:
            preStop:
              exec:
                command:
                  - /bin/sh
                  - '-ec'
                  - |
                    /opt/pgpool-II/bin/pcp_stop_pgpool -m smart --host localhost

          readinessProbe:
            tcpSocket:
              port: psql

            initialDelaySeconds: 15
            periodSeconds: 10

          livenessProbe:
            exec:
              command:
                - /bin/sh
                - /opt/pgpool-II/bin/Healthcheck.sh 
            initialDelaySeconds: 30

            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3

          volumeMounts:
            - name: tls
              mountPath: /config/tls

            - name: config-vol
              mountPath: /config

