cluster:
  name: k8s
  domain: cluster.local

gateway:
  name: main-gw
  namespace: core-prod
  sectionName: https-myloginspace

datacenter: dc1

region: yxl

oauth:
  indexKey: headlamp
  scopes: 'openid profile email offline_access'
  groups:
    - Server Admins
  authentik:
    urlBase: https://idp.mylogin.space

headlamp:
  enabled: true
  # Default values for headlamp.
  # This is a YAML-formatted file.
  # Declare variables to be passed into your templates.

  # -- Number of desired pods
  replicaCount: 1

  image:
    # -- Image pull policy. One of Always, Never, IfNotPresent
    pullPolicy: IfNotPresent


  # -- An optional list of init containers to be run before the main containers.
  initContainers:
    - name: headlamp-plugins
      #
      # TODO: Automate updates
      #
      image: ghcr.io/inspektor-gadget/headlamp-plugin:0.1.0-beta.3
      imagePullPolicy: Always
      command:
        - /bin/sh
        - -c
        - 'mkdir -p /build/plugins && cp -r /plugins/* /build/plugins/'
      volumeMounts:
        - name: headlamp-plugins
          mountPath: /build/plugins

  config:
    # -- base url path at which headlamp should run
    baseURL: ''
    oidc:
      secret:
        # -- Generate OIDC secret. If true, will generate a secret using .config.oidc.
        create: false

        name: core-headlamp-oidc

      # Option 3:
      # @param config.oidc - External OIDC secret configuration
      # If you want to use an external secret for OIDC configuration, enable this option.
      # Provide the name of the secret to use.
      # Example:
      # config:
      #   oidc:
      #     secret:
      #       create: false
      #     externalSecret:
      #       enabled: true
      #       name: oidc
      externalSecret:
        enabled: true
        name: core-headlamp-oidc

    # -- directory to look for plugins
    pluginsDir: '/build/plugins'
    # Extra arguments that can be given to the container. See charts/headlamp/README.md for more information.
    extraArgs: []

  # -- An optional list of environment variables
  # env:
  #   - name: KUBERNETES_SERVICE_HOST
  #     value: "localhost"
  #   - name: KUBERNETES_SERVICE_PORT
  #     value: "6443"

  serviceAccount:
    # -- Specifies whether a service account should be created
    create: true
    # -- Annotations to add to the service account
    annotations: {}
    # -- The name of the service account to use.(If not set and create is true, a name is generated using the fullname template)
    name: ""

  clusterRoleBinding:
    # -- Specified whether a cluster role binding should be created
    create: true
    # -- Set name of the Cluster Role with limited permissions from you cluster
    # for example - clusterRoleName: user-ro
    clusterRoleName: cluster-admin
    # -- Annotations to add to the cluster role binding
    annotations: {}

  # -- Annotations to add to the pod
  podAnnotations: {}

  # -- Headlamp pod's Security Context
  podSecurityContext:
    {}
    # fsGroup: 2000

  # -- Headlamp containers Security Context
  securityContext:
    # capabilities:
    #   drop:
    #   - ALL
    # readOnlyRootFilesystem: true
    runAsNonRoot: true
    privileged: false
    runAsUser: 100
    runAsGroup: 101

  service:
    # -- Kubernetes Service type
    type: ClusterIP
    # -- Kubernetes Service port
    port: 80

  # -- Headlamp containers volume mounts
  volumeMounts:
    - name: 'headlamp-plugins'
      mountPath: '/build/plugins'

  # -- Headlamp pod's volumes
  volumes:
    - name: 'headlamp-plugins'
      emptyDir:
        medium: Memory

  persistentVolumeClaim:
    # -- Enable Persistent Volume Claim
    enabled: false

  ingress:
    # -- Enable ingress controller resource
    enabled: false

  # -- CPU/Memory resource requests/limits
  resources:
    {}
    # We usually recommend not to specify default resources and to leave this as a conscious
    # choice for the user. This also increases chances charts run on environments with little
    # resources, such as Minikube. If you do want to specify resources, uncomment the following
    # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
    # limits:
    #   cpu: 100m
    #   memory: 128Mi
    # requests:
    #   cpu: 100m
    #   memory: 128Mi

  # -- Node labels for pod assignment
  nodeSelector: {}

  # -- Toleration labels for pod assignment
  tolerations: []

  # -- Affinity settings for pod assignment
  affinity: {}
