apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: core-backplane-ingress
  namespace: argocd
spec:
  generators:
    - list:
        elements:
          - cluster: k0s-cntrl
            url: https://10.1.1.40:443

  syncPolicy:
    preserveResourcesOnDeletion: true

  template:
    metadata:
      name: '{{cluster}}-ingress'

      annotations:
        argocd.argoproj.io/manifest-generate-paths: .

    spec:
      project: core
      syncPolicy:
        syncOptions:
          - ServerSideApply=true

      source:
        path: Network/Ingress
        repoURL: https://gitlab.git.writemy.codes/KJDev/CORE-Backplane.git
        targetRevision: HEAD
        plugin:
          name: argocd-lovely-plugin

      destination:
        server: '{{url}}'
        namespace: core-prod
