apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization


resources:
  -  https://raw.githubusercontent.com/k8snetworkplumbingwg/multus-cni/master/deployments/multus-daemonset-thick.yml


patches:
  - target:
      kind: CustomResourceDefinition
      name: network-attachment-definitions.k8s.cni.cncf.io 

    patch: |
      $patch: delete
      kind: CustomResourceDefinition
      metadata:
        name: DOES NOT MATTER