apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization


patches:
  - target:
      kind: CustomResourceDefinition
      name: network-attachment-definitions.k8s.cni.cncf.io 
      labelSelector: 'app.kubernetes.io/name=prometheus-smartctl-exporter'

    patch: |
      $patch: delete
      kind: CustomResourceDefinition
      metadata:
        name: DOES NOT MATTER