coredns:
  customLabels: {}
  deployment:
    enabled: true
    name: core-rdns
  extraConfig: {}

  extraSecrets:
    - name: resolvemyhost-default-certificates
      mountPath: /tls

  hpa:
    enabled: false
    maxReplicas: 2
    metrics: {}
    minReplicas: 1

  image:
    pullPolicy: IfNotPresent
    repository: kristianfjones/coredns-docker
    tag: core0
  isClusterService: false
  livenessProbe:
    enabled: true
    failureThreshold: 5
    initialDelaySeconds: 60
    periodSeconds: 10
    successThreshold: 1
    timeoutSeconds: 5
  nodeSelector: {}
  podAnnotations: {}
  podDisruptionBudget: {}
  priorityClassName: 'system-cluster-critical'
  prometheus:
    monitor:
      additionalLabels: {}
      enabled: false
      interval: 30s
      namespace: ''
    service:
      annotations:
        prometheus.io/port: '9153'
        prometheus.io/scrape: 'true'
      enabled: false
  rbac:
    create: true
    pspEnable: false
  readinessProbe:
    enabled: true
    failureThreshold: 5
    initialDelaySeconds: 30
    periodSeconds: 10
    successThreshold: 1
    timeoutSeconds: 5
  replicaCount: 4

  resources:
    limits:
      cpu: 128m
      memory: 128Mi
    requests:
      cpu: 16m
      memory: 16Mi

  rollingUpdate:
    maxSurge: 50%
    maxUnavailable: 25%
  servers:
    - zones:
        - zone: arpa. mylogin.space. trackmy.finance. writemy.codes. ipaddr.network. resolvemy.host. syncmy.date.
      port: 53
      plugins:
        - name: secondary
          parameters: >-
            in-addr.arpa 241.31.172.in-addr.arpa
            mylogin.space trackmy.finance writemy.codes
            ipaddr.network resolvemy.host syncmy.date
          configBlock: transfer from 127.0.0.1:1053

        - name: fanout
          parameters: . 1.1.1.1:53 1.0.0.1:53
          configBlock: network TCP
          
        - name: cache
          parameters: 30

        # - name: dcache
        #   parameters: 10.1.1.68:6379
        
        - name: reload
        
        - name: loadbalance

    - zones:
        - zone: .
      port: 53
      plugins:
        - name: dnsredir
          parameters: .
          configBlock: |-
            to tls://1.1.1.1 tls://1.0.0.1
            tls_servername one.one.one.one
          
        - name: cache
          parameters: 120

        # - name: dcache
        #   parameters: 10.1.1.68:6379
        
        - name: reload
        
        - name: loadbalance

    - zones:
        - zone: mylogin.space.
          scheme: tls://
          #use_tcp: true 
      port: 853
      scheme: 'tls'
      plugins:
        - name: errors

        - name: health
          configBlock: lameduck 5s
          
        - name: ready
        
        - name: secondary
          parameters: >-
            kristianjones.dev in-addr.arpa 241.31.172.in-addr.arpa kjmedia.stream
            mylogin.space trackmy.finance ksit.services writemy.codes
            ipaddr.network resolvemy.host syncmy.date
          configBlock: transfer from 127.0.0.1:1053
        
        - name: loop
        
        - name: reload
        
        - name: loadbalance
        
        - name: tls
          parameters: /tls/tls.crt /tls/tls.key

    - zones:
        - zone: .
          scheme: tls://
          #use_tcp: true 
      port: 853
      scheme: 'tls'
      plugins:
        - name: errors

        - name: health
          configBlock: lameduck 5s
          
        - name: ready
        
        - name: dnsredir
          parameters: .
          configBlock: |-
            to tls://1.1.1.1 tls://1.0.0.1
            tls_servername one.one.one.one
        
        - name: loop
        
        - name: reload
        
        - name: loadbalance
        
        - name: tls
          parameters: /tls/tls.crt /tls/tls.key


    - zones:
        - zone: cluster.local.
      port: 53
      plugins:
        - name: errors
        
        - name: health
          configBlock: lameduck 5s
          
        - name: ready
        
        - name: fanout
          parameters: . 172.17.0.10:53 172.18.0.10:53 172.19.0.10:53 10.0.8.10:53
          configBlock: network TCP
        
        - name: loadbalance
    
    - zones:
        - zone: kjdev.
      port: 53
      plugins:
        - name: errors
    
        - name: health
          configBlock: lameduck 5s
    
        - name: ready
    
        - name: fanout
          parameters: . 10.1.1.60:53 10.1.1.61:53
          configBlock: network TCP

        - name: loadbalance

  serviceAccount:
    annotations: {}
    create: false
    name: ''
  terminationGracePeriodSeconds: 30
  tolerations: null
  zoneFiles: null
