
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

patches:
  - target:
      kind: Deployment
      name: che-operator

    patch: |-
      - op: replace
        path: /spec/replicas
        value: 2

      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/cpu
        value: 16m
